:root {
    --primary: rgb(57, 145, 126);
    --secondary: rgb(168, 80, 49);
    --radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black!important;
    color: white!important;
}

a {
    color: var(--primary);
    transition: 0.3s;
}

a:hover {
    color: var(--primary);
}

.bg-dark {
    background-color: rgba(15, 109, 89, 0.541)!important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -webkit-box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
}

.nav-link {
    color: white!important;
    border: 3px solid transparent;
    /* border-radius: var(--radius); */
    /* border: solid 2px black; */
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--primary)!important;
    /* border-bottom: 3px solid white; */
    position: relative;
    /* border: 2px solid white; */
}

.n-masthead  {
    /* background-color: black; */
    /* background-image: url(/public/img/nicolavitrani.jpg); */
    margin-top: 88px;
}

.n-h1 {
    font-size: 55px;
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.progress-bar {
    background-color: var(--primary);
}

.navbar-dark .navbar-toggler {
    color: var(--primary);
    border-color: var(--primary);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.n-mail {
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
}

.n-mail:hover {
    text-decoration: none;
    color: rgb(177, 209, 135);
}

.n-btn {
    background-color: var(--primary);
    color: white);
    /* border: solid 3px; */
    border-radius: var(--radius);
    transition: 0.3s;
    padding: 5px;
}

/* .n-btn:hover {
    color: yellow;
} */

.n-bg-footer {
    background-color: rgb(41, 41, 41);
}

.n-button {
    border: solid 3px var(--primary);
    border-radius: var(--radius);
    padding: 7px;
    transition: 0.3s;
}

/* .n-button:hover {
    border: solid 3px yellow;
    border-radius: var(--radius);
    padding: 7px;
} */

.n-shadow {
    -webkit-box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
}

.n-shadow-btn {
    -webkit-box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.38);
    transition: 0.8s;
}

.n-shadow-btn:hover {
    -webkit-box-shadow: 0px 0px 0px -200px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 0px -200px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 0px -200px rgba(0,0,0,0.38);
}

.n-bg-black {
    background-color: black;
}

.n-black {
    color:black;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: var(--primary);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.n-bg-primary {
    background-color: var(--primary)!important;
}
